.Bounce {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.moving-gif {
  position: absolute;
  transition: left 3s ease-in-out, top 3s ease-in-out;
  z-index: 1000;
}
